<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomMediaPlayerUltimate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CustomMediaPlayerUltimate.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomMediaPlayerUltimate.Properties.Settings>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PlayerLoop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerShuffle" serializeAs="String">
                <value>False</value>
            </setting>
        </CustomMediaPlayerUltimate.Properties.Settings>
        <CustomMediaPlayerUltimate.Settings>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
        </CustomMediaPlayerUltimate.Settings>
    </userSettings>
</configuration>