<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomMediaPlayerUltimate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CustomMediaPlayerUltimate.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomMediaPlayerUltimate.Properties.Settings>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PlayerLoop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSearchResultsAsShuffleSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayPauseShortcutKey" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="IncreaseVolumeShortcutKey" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DecreaseVolumeShortcutKey" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="NextSongShortcutKey" serializeAs="String">
                <value>57</value>
            </setting>
            <setting name="PreviousSongShortcutKey" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ToggleLoopShortcutKey" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="ToggleShuffleShortcutKey" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="PlaybackFadeIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaybackFadeOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiniplayerAutoOpacity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiniplayerMinimumOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
        </CustomMediaPlayerUltimate.Properties.Settings>
        <CustomMediaPlayerUltimate.Settings>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
        </CustomMediaPlayerUltimate.Settings>
    </userSettings>
</configuration>