WPFHotkeys.dll
WPFHotkeys/WPFHotkeys/.vs
WPFHotkeys/WPFHotkeys/WPFHotkeys/bin
WPFHotkeys/WPFHotkeys/WPFHotkeys/obj

CustomMediaPlayerUltimate/.vs
CustomMediaPlayerUltimate/CustomMediaPlayerUltimate/bin
CustomMediaPlayerUltimate/CustomMediaPlayerUltimate/obj
